<% note_type_list = {'Confirmation'=>'confirmation','General'=>'general', 'Email log'=>'email_log'} %>
<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>
      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :note_type %><br />
    <%= f.select :note_type, note_type_list %>
  </div>
  <%= f.hidden_field :person_id, :value=>@person.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
