<h1>Listing notes</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Content</th>
    <th>Type</th>
    <th>Person</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @filtered_notes.each do |note| %>
  <tr>
    <td><%= note.date_time %></td>
    <td><%= note.content %></td>
    <td><%= note.note_type %></td>
    <td><%= @roommate_hash[note.person_id.to_s] %></td>
    <td><%= link_to 'Edit', edit_person_note_path(:person_id=>@person.id, :id=>note.id) %></td>
    <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<p></p>
<%= link_to 'Back to list', people_path %>

<br />
