<table border='1'>
  <tr><td>
  <table border='0'>
    <tr><th>Reports</th></tr>
    <tr><td><%= link_to 'Registration stats', generate_report_path(:report_type=>'stats') %></td></tr>
    <tr><td><%= link_to 'Create roommate report', generate_report_path(:report_type=>'roommate') %></td></tr>
    <tr><td><%= link_to 'Email log', email_log_path %></td></tr>
  </table>
  </td>
  <td>
  <table border='0'>
    <tr><th>Accounting</th></tr>
    <% @totals_hash['balance'].each do |value| %>
      <% value.gsub!('Total ','') %>
      <% value.capitalize! %>
      <tr><td><%= value %></td></tr>
    <% end %>
  </table>
  </td>
  <td>
  <table border='0'>
    <tr><th>Scholarship</th></tr>
    <% @totals_hash['scholarship'].each do |value| %>
      <% value.gsub!('scholarship','') %>
      <% value.capitalize! %>
      <tr><td><%= value %></td></tr>
    <% end %>
  </table>
  </td>
  <td>
  <table border='0'>
    <tr><th>Registrations</th></tr>
    <% @totals_hash['registered'].each do |value| %>
      <% value.gsub!('Total ','') %>
      <% value.capitalize! %>
      <tr><td><%= value %></td></tr>
    <% end %>
  </table>
  </td>
  <td>
  <table border='0'>
    <tr><th>Occupancy</th></tr>
    <% @totals_hash['occupancy'].each do |value| %>
      <% value.gsub!('occupancy','') %>
      <% value.gsub!('Total','') %>
      <% value.capitalize! %>
      <tr><td><%= value %></td></tr>
    <% end %>
  </table>
  </td></tr>
</table>

<h1>Womens Spiritual Retreat</h1>

<b><%= link_to 'Add person', new_person_path %><br></b>
<hr>

<table border='1'>
  <tr>
    <th><%= link_to 'Name', people_path(:sort_by=>'last_name') %></th>
    <th>Roommate(s)</th>
    <th>Occupancy</th>
    <th>Total due</th>
    <th><%= link_to 'Paid', people_path(:sort_by=>'paid_amount') %></th>
    <th><%= link_to 'Balance due', people_path(:sort_by=>'balance_due') %></th>
    <th><%= link_to 'Payment status', people_path(:sort_by=>'payment_status') %></th>
    <th><%= link_to 'Registration status', people_path(:sort_by=>'registration_status') %></th>
    <th>Confirm</th>
    <th>Actions</th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td>
    <% name = "#{person.first_name} #{person.last_name}" %>
    <%= link_to name, person_path(:id=>person.id, :confirmation=>false) %>
    </td>
    <td>
    <%  if (person.occupancy > 1 ) %>
       <% id = person.roommate_id1 %>
       <% if (id == 0 ) %>
         [<%= @roommate_hash[id.to_s] %>]
       <% else %>
         [<%= link_to @roommate_hash[id.to_s], person_path(:id=>person.roommate_id1, :confirmation=>false) %>]
       <% end %>
    <% end %>
    <%  if (person.occupancy > 2) %>
       <% id = person.roommate_id2 %>
       <% if (id == 0 ) %>
         <br>[<%= @roommate_hash[id.to_s] %>]
       <% else %>
         <br>[<%= link_to @roommate_hash[id.to_s], person_path(:id=>person.roommate_id2, :confirmation=>false) %>]
       <% end %>
    <% end %>
    </td>
    <td><%= @occupancy_by_id[person.occupancy.to_s] %>
    <td><%= number_to_currency(@prices[person.occupancy]) %></td>
    <td><%= number_to_currency(person.paid_amount) %></td>
    <% if person.balance_due.to_f > 0 %>
      <% if person.registration_status.eql?('pending') %>
        <td class='pending'><%= number_to_currency(person.balance_due.abs) %></td>
      <% else %>
        <td class='debit'><%= number_to_currency(person.balance_due.abs) %></td>
      <% end %>
    <% else %>
      <td class='credit'><%= number_to_currency(person.balance_due.abs) %></td>
    <% end %>

    <td><%= person.payment_status %></td>
    <td><%= person.registration_status %></td>
    <td>
      <%= link_to "Send confirmation", person_path(:id=>person.id, :confirmation=>true) %><br></td>
    <td><%= link_to 'Add note', new_person_note_path(:person_id=>person.id) %><br>
    <%= link_to "Show", person_path(:id=>person.id,:confirmation=>false) %><br>
    <%= link_to 'Edit', edit_person_path(person) %><br>
    <% destroy_msg = "Destroy #{person.first_name} #{person.last_name}?" %>
    <%= link_to 'Destroy', person, method: :delete, data: { confirm: destroy_msg } %></td>
  </tr>
<% end %>
</table>
<p></p>
<%= link_to 'New Person', new_person_path %><br>
<%= link_to 'Registration report', generate_report_path %>
