<%= link_to 'New Person', new_person_path %><br>
<%= link_to 'Registration stats', generate_report_path %>

<h1>Listing people</h1>

<table border='1'>
  <tr>
    <th><%= link_to 'Name', people_path(:sort_by=>'last_name') %></th>
    <th>Occupancy</th>
    <th>Total due</th>
    <th>Paid</th>
    <th><%= link_to 'Balance due', people_path(:sort_by=>'balance_due') %></th>
    <th><%= link_to 'Payment status', people_path(:sort_by=>'payment_status') %></th>
    <th><%= link_to 'Registration status', people_path(:sort_by=>'registration_status') %></th>
    <th colspan='6'>Actions</th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <% name = "#{person.first_name} #{person.last_name}" %>
    <td>
    <%= link_to name, person_path(:id=>person.id, :confirmation=>false) %>
    <%  if (person.occupancy > 1 ) %>
       <% id = person.roommate_id1 %>
       <% if (id == 0 ) %>
         <br>[<%= @roommate_hash[id.to_s] %>]
       <% else %>
         <br>[<%= link_to @roommate_hash[id.to_s], person_path(:id=>person.roommate_id1, :confirmation=>false) %>]
       <% end %>
    <% end %>
    <%  if (person.occupancy > 2) %>
       <% id = person.roommate_id2 %>
       <% if (id == 0 ) %>
         <br>[<%= @roommate_hash[id.to_s] %>]
       <% else %>
         <br>[<%= link_to @roommate_hash[id.to_s], person_path(:id=>person.roommate_id2, :confirmation=>false) %>]
       <% end %>
    <% end %>
    </td>
    <td><%= @occupancy_by_id[person.occupancy.to_s] %>
    <td><%= number_to_currency(@prices[person.occupancy]) %></td>
    <td><%= number_to_currency(person.paid_amount) %></td>
    <% if person.balance_due.to_f > 0 %>
      <td class='debit'><%= number_to_currency(person.balance_due.abs) %></td>
    <% else %>
      <td class='credit'><%= number_to_currency(person.balance_due.abs) %></td>
    <% end %>
    <td><%= person.payment_status %></td>
    <td><%= person.registration_status %></td>
    <td><%= link_to "Show", person_path(:id=>person.id,:confirmation=>false) %><br>
    <%= link_to 'Edit', edit_person_path(person) %><br>
    <% destroy_msg = "Destroy #{person.first_name} #{person.last_name}?" %>
    <%= link_to 'Destroy', person, method: :delete, data: { confirm: destroy_msg } %></td>
<!--
    <td><%= link_to 'Send confirmation', mail_confirmation_path(person.id) %></td>
-->
    <td><%= link_to "Send confirmation", person_path(:id=>person.id, :confirmation=>true) %><br>
    <td><%= link_to 'Add note', new_person_note_path(:person_id=>person.id) %>
    <td><%= link_to 'General notes', person_notes_path(:person_id=>person.id, :filter_by=>'general') %>
    <td><%= link_to 'Confirmation notes', person_notes_path(:person_id=>person.id, :filter_by=>'confirmation') %>
    <td><%= link_to 'All notes', person_notes_path(:person_id=>person.id, :filter_by=>'all') %>
  </tr>
<% end %>
</table>
<p></p>
<%= link_to 'New Person', new_person_path %><br>
<%= link_to 'Registration report', generate_report_path %>
