<h3>List of email logs</h3>
<%= link_to 'Back to list', people_path %>
<p></p>
<table border='1'>
<% @email_logs_arr.each do |log| %>
  <% log.each do |key,note_arr| %>
    <% tmp = key.split(';') %>
    <% person_id = tmp[0] %>
    <% name = tmp[1] %>
    <tr>
      <% if note_arr.length <= 0  %>
        <td bgcolor='red' colspan='2'><b><%= link_to name, person_path(:id=>person_id, :confirmation=>true) %></b>
      <% else %>
        <td colspan='2'><b><%= name %></b>
      <% end %>
    </td>
    </tr>
    <tr>
      <% next if note_arr.length <= 0 %>
      <td>
        <% note_arr.each do |note| %>
	  <%= note.date_time %>: <%= note.content %><br>
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>
</table>
<p></p>
<%= link_to 'Back to list', people_path %>
