<h3>Registration information for <%= @params[0][1] %></h3>
<table border='1'>
  <% @params.each do |p| %>
    <% title = p[0] %>
    <% value = p[1] %>
    <tr>
      <td><b><%= title %></b></td>
      <td><%= value %></td>
    </tr>
  <% end %>
<p></p>
<tr><td colspan=2><b>Notes<b></td></tr>
<% @notes_hash.each { |key,value| %>
  <%  next if value.empty? %>
  <tr>
    <td><b><%= key.capitalize %></b></td>
    <td>
    <% value.each do |n| %>
      <%= n.date_time %>:&nbsp;<%= n.content %><br>
    <% end %>
    </td>
  </tr>
<% } %>
</table>
<p></p>
<%= link_to 'Back to list', people_path %>

<% if (@confirmation_flag.eql?('true')) %>
  <p></p>
  <%= link_to 'Send confirmation', mail_confirmation_path(@person.id) %>
<% end %>

