Hi <%= @person.first_name %>,
<p></p>
Thank you for registering for the 2013 Women's Spiritual Retreat. This is a confirmation of your registration status. Please review the information below and let me know if there are any changes.
<p></p>
<% @params.each do |p| %>
  <% title = p[0] %>
  <% value = p[1] %>
  <%= title %>: <%= value %><br>
<% end %>
<p></p>
<% if !@notes_hash['confirmation'].nil? %>
  Notes:<br>
  <% @notes_hash.each do |key,notes_arr| %> 
   <% notes_arr.each do |note| %>
     <%= note.date_time %>: <%= note.content %><br>
   <% end %>
  <% end %>
<% end %>
<p></p>
<% if (@person.balance_due > 0.0) %>
Your current balance of <%= number_to_currency(@person.balance_due) %> is due by August 31. Please contact me if you have any questions regarding payment.
<% end %>
<p></p>
<% if @person.occupancy == 3 %>
You are currently registered for a triple occupancy room, which is equipped with 2 queen beds and 1 pullout couch.
<% end %>
<p></p>
<% if ( (@person.needs_ride.blank?) && (@person.can_drive_num.blank?) ) %>
The retreat will be held at the YMCA of the Rockies in Estes Park.  If you are interested in participating in a carpool, please send me an email and indicate if you can drive (and number of occupants) or if you need a ride.
<% end %>
<p></p>
<% if (@person.meal_preference.eql?('none')) %>
Please let me know if you have any food restrictions.  They YMCA can occommodate vegetarian or gluten free meal options. Although there is not a vegan option available, there is a salad bar.
<% end %>
<p></p>
<p></p>
You will receive additional information closer to the retreat. 
<p></p>
Please don't hesitiate to email me if you have further questions. 
<p></p>
Thanks!
<p></p>
Susan
