<p></p>
<%  date_time = DateTime.now.strftime("%F %T") %>
Registration report as of <%= date_time %>
<p></p>
<%= number_to_currency(@total_paid) %>
<%= number_to_currency(@total_balance_due) %>
<%= @total_registered %>
<%= @registered_pending_count %>
<%= @registered_paid_count %>
<%= number_to_currency(@total_scholarship_amount) %>
<%= number_to_currency(@total_scholarship_given) %>
<% @arr.each do |p| %>
  <%= p %><br>
<% end %>
